%h1
  %span Lancement du site !
  
.col-100
  Bonjour à tous et à toutes,
  %br
  %br
  Comme certains l'auront remarqué, les chantiers du background ont bien avancé ces dernières semaines, suite notamment aux deux réunions audio. Nous arrivons progressivement au bout de notre première phase de travail qui consistait à poser les bases techniques du background (naissance et organisation de chaque nation, religion, magie, armée, ...).
  %br
  %br
  Nous allons donc d'ici quelques semaines passer à une nouvelle étape qui sera nettement moins rébarbative, qui est celle de la rédaction des récits et légendes. Ces textes ont pour objectif de permettre à tout un chacun de découvrir le Monde de Cy de manière ludique. Le récit principal des Mystiques sera &quot;la Geste de Nènd&quot;, un ouvrage collectif où chaque chapitre est rédigé par un personnage illustre (Foldred Albocor, Nènd Eléantar, Kogan Darok ou bien encore Murin Badelsen). Cet ouvrage central présentera le périple de Nènd Eléantar à travers le continent avant qu'il ne créé la magie organique.