.map
  height: 400px
  overflow: hidden
  position: relative
  margin: 0 auto

  .inner, .action
    position: relative

    img
      height: 100%
      width: 100%

    map
      cursor: pointer

    .case
      background: url(map/bric.png) no-repeat
      height: 28px
      width: 40px
      position: absolute
      text-align: center
      color: #fff
      padding-top: 3px
    
    .border
      background: url(map/border-bric.png) no-repeat

    .tree